entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    exposedByDefault: false

certificatesResolvers:
  myresolver:
    acme:
      email: d1m4z06@yandex.ru
      storage: acme.json
      httpChallenge:
        entryPoint: web
