ports:
  web:
    port: 80

api:
  dashboard: true
  # Включаем небезопасный доступ к панели управления для локальной разработки
  insecure: true

# Настройка маршрута для панели управления через HTTP
ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`dashboard.docker.localhost`)
    entryPoints:
      - web

ingressClass:
  enabled: false
providers:
  kubernetesIngress:
     enabled: false
  kubernetesGateway:
     enabled: true

gateway:
  listeners:
    web:
      port: 80
      protocol: HTTP
      namespacePolicy:
        from: All

logs:
  general:
    level: INFO
  access:
    enabled: true

metrics:
  prometheus:
    enabled: true
