name: CI/CD Pipeline for k3d

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: ${{ secrets.TEST_DB_USER }}
          POSTGRES_PASSWORD: ${{ secrets.TEST_DB_PASSWORD }}
          POSTGRES_DB: ${{ secrets.TEST_DB_NAME }}
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U ${{ secrets.TEST_DB_USER }}"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.12

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r app/requirements.txt

    - name: Build Docker image
      run: |
        docker build -t iinquisit0r/userapi:latest app/. # Собираем из папки app

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Push Docker image to Docker Hub
      run: |
        docker push iinquisit0r/userapi:latest

    # Условие: выполняем деплой только при push в main
    - name: Deploy to k3d (if push to main)
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      runs-on: self-hosted
      run: |
        k3d image import iinquisit0r/userapi:latest --cluster traefik
        kubectl set image deployment/userapi -n traefik userapi=iinquisit0r/userapi:latest
        kubectl rollout status deployment/userapi -n traefik
      env:
        KUBECONFIG: /home/your_user/.kube/config
